body {
	background-color: #ecf0f1;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 22px;
	font-weight: 300;
	color: #515151;
    width: 100%;
    margin: 0;
}

header {
	margin-top: 30px;
	text-align: center;
	font-weight: 700;
	font-size: 24px;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

tr {
	font-size: 22px;
	height:35px;
}

td {
	width: 150px;
}
input[type="text"] {
	background: #ffffff;
	color: #515151;
	font-size: 95%;
	padding: 6px 12px 6px 12px;
	border: 1px solid #7f8c8d;
	text-align: center;
    border-radius: 5px;
    -khtml-border-radius: 5px;
	-moz-border-radius:5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	width: 155px;
	height: 30px;
}
input[type="checkbox"] {
	-ms-transform: scale(1.5); /* IE */
	-moz-transform: scale(1.5); /* FF */
	-webkit-transform: scale(1.5); /* Safari and Chrome */
	-o-transform: scale(1.5); /* Opera */
}

input[type="button"] {
	margin: 0;
    color:#ffffff;
    background-color:#515151;
    border:0px;
	font-size: 95%;
	width: 155px;
	height: 35px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

select {
	background: #ffffff;
	color: #515151;
	font-size: 95%;
	border: 1px solid #7f8c8d;
	text-align: center;
    border-radius: 5px;
    -khtml-border-radius: 5px;
	-moz-border-radius:5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	text-align:center;
	width: 155px;
	height: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}